body {
  background-color: #000000;

}

header {
  text-align: center;
  margin: 25px;
  font-family: "Century Gothic",  sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #644647;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow:  -1px -1px 0 #47ff52
}


#background {
  height: 800px;
  width: 1410px;
  margin-left: auto;
  margin-right: auto;
  background: url(https://vignette.wikia.nocookie.net/twinpeaks/images/0/03/Twin_Peaks_sign.png/revision/latest?cb=20160318022237);
  background-repeat: no-repeat;
  position: relative;
  z-index: 500;

}

#gameboard {
  height: 600px;
  width: 1050px;
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000;
  top: 250px;
  left: 200px;
  box-shadow: 5px 10px #000000;
}

input[type=text] {
  background-color: #000000;
  color:white;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #47ff52;
}


input[type=button] {
  background-color: #000000;
  color:white;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #47ff52;
}


#word-blanks, #wrong-letters {
  text-align: center;
  margin: 25px;
  font-family: "Century Gothic",  sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #644647;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow:  -1px -1px 0 #47ff52
}

#wrong-letters {
  font-size: 25px;
  margin-top: 250px;
}
